# Cars Dataset

The dataset and questions are from: https://youtu.be/fhiUl7f5DnI

In [120]:
import pandas as pd;
pd.options.mode.chained_assignment = None
data = pd.read_csv('Cars.csv');
data.index = data['Model']
data.drop(columns = ['Model'], inplace = True)
data

,Make,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
Model,,,,,,,,,,,,,,
MDX,Acura,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265,17,23,4451,106,189
RSX Type S 2dr,Acura,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200,24,31,2778,101,172
TSX 4dr,Acura,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200,22,29,3230,105,183
TL 4dr,Acura,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270,20,28,3575,108,186
3.5 RL 4dr,Acura,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225,18,24,3880,115,197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C70 LPT convertible 2dr,Volvo,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197,21,28,3450,105,186
C70 HPT convertible 2dr,Volvo,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242,20,26,3450,105,186
S80 T6 4dr,Volvo,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268,19,26,3653,110,190
V40,Volvo,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170,22,29,2822,101,180
XC70,Volvo,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208,20,27,3823,109,186

## Q. 1) Data Cleaning - Find all Null Values in the dataset. If there are any Null Values in any columns, fill it with the mean of that column.

In [121]:
data.isnull().sum()

Make           0
Type           0
Origin         0
DriveTrain     0
MSRP           0
Invoice        0
EngineSize     0
Cylinders      2
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

In [122]:
data['Cylinders'].fillna(data['Cylinders'].mean(), inplace = True)
data[['Cylinders']]

                         Cylinders
Model
MDX                            6.0
RSX Type S 2dr                 4.0
TSX 4dr                        4.0
TL 4dr                         6.0
3.5 RL 4dr                     6.0
...                            ...
C70 LPT convertible 2dr        5.0
C70 HPT convertible 2dr        5.0
S80 T6 4dr                     6.0
V40                            4.0
XC70                           5.0

[428 rows x 1 columns]

## Q. 2) Based on Value Counts - Check the different types of make in the dataset. List the occurances of each make.

In [123]:
data['Make'].unique()

array(['Acura', 'Audi', 'BMW', 'Buick', 'Cadillac', 'Chevrolet',
       'Chrysler', 'Dodge', 'Ford', 'GMC', 'Honda', 'Hummer', 'Hyundai',
       'Infiniti', 'Isuzu', 'Jaguar', 'Jeep', 'Kia', 'Land Rover',
       'Lexus', 'Lincoln', 'MINI', 'Mazda', 'Mercedes-Benz', 'Mercury',
       'Mitsubishi', 'Nissan', 'Oldsmobile', 'Pontiac', 'Porsche', 'Saab',
       'Saturn', 'Scion', 'Subaru', 'Suzuki', 'Toyota', 'Volkswagen',
       'Volvo'], dtype=object)

In [124]:
data['Make'].value_counts()

Toyota           28
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Honda            17
Nissan           17
Volkswagen       15
Chrysler         15
Dodge            13
Mitsubishi       13
Volvo            12
Jaguar           12
Hyundai          12
Subaru           11
Pontiac          11
Mazda            11
Lexus            11
Kia              11
Buick             9
Mercury           9
Lincoln           9
Saturn            8
Cadillac          8
Suzuki            8
Infiniti          8
GMC               8
Acura             7
Porsche           7
Saab              7
Land Rover        3
Oldsmobile        3
Jeep              3
Scion             2
Isuzu             2
MINI              2
Hummer            1
Name: Make, dtype: int64

## Q. 3) Filtering - Show the records in which the origin is Asia or Europe.

In [125]:
asia_europe = data[(data['Origin'] == 'Asia') | (data['Origin'] == 'Europe')]
asia_europe

,Make,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
Model,,,,,,,,,,,,,,
MDX,Acura,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265,17,23,4451,106,189
RSX Type S 2dr,Acura,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200,24,31,2778,101,172
TSX 4dr,Acura,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200,22,29,3230,105,183
TL 4dr,Acura,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270,20,28,3575,108,186
3.5 RL 4dr,Acura,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225,18,24,3880,115,197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C70 LPT convertible 2dr,Volvo,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197,21,28,3450,105,186
C70 HPT convertible 2dr,Volvo,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242,20,26,3450,105,186
S80 T6 4dr,Volvo,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268,19,26,3653,110,190
V40,Volvo,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170,22,29,2822,101,180
XC70,Volvo,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208,20,27,3823,109,186

## Q. 4) Removing unwanted records - Remove the records (rows) in which the weight is above 4000.

In [126]:
data = data[data['Weight'] <= 4000]
data

,Make,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
Model,,,,,,,,,,,,,,
RSX Type S 2dr,Acura,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200,24,31,2778,101,172
TSX 4dr,Acura,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200,22,29,3230,105,183
TL 4dr,Acura,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270,20,28,3575,108,186
3.5 RL 4dr,Acura,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225,18,24,3880,115,197
3.5 RL w/Navigation 4dr,Acura,Sedan,Asia,Front,"$46,100","$41,100",3.5,6.0,225,18,24,3893,115,197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C70 LPT convertible 2dr,Volvo,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197,21,28,3450,105,186
C70 HPT convertible 2dr,Volvo,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242,20,26,3450,105,186
S80 T6 4dr,Volvo,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268,19,26,3653,110,190
V40,Volvo,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170,22,29,2822,101,180
XC70,Volvo,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208,20,27,3823,109,186

## Q. 5) Applying a function on a column - Increase the values of the, 'MPG_City' column by 3.

In [128]:
data['MPG_City'] += 3
data

,Make,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
Model,,,,,,,,,,,,,,
RSX Type S 2dr,Acura,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200,30,31,2778,101,172
TSX 4dr,Acura,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200,28,29,3230,105,183
TL 4dr,Acura,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270,26,28,3575,108,186
3.5 RL 4dr,Acura,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225,24,24,3880,115,197
3.5 RL w/Navigation 4dr,Acura,Sedan,Asia,Front,"$46,100","$41,100",3.5,6.0,225,24,24,3893,115,197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
C70 LPT convertible 2dr,Volvo,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197,27,28,3450,105,186
C70 HPT convertible 2dr,Volvo,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242,26,26,3450,105,186
S80 T6 4dr,Volvo,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268,25,26,3653,110,190
V40,Volvo,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170,28,29,2822,101,180
XC70,Volvo,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208,26,27,3823,109,186